@font-face {
  font-family: 'ImpactLocal';
  src: url('../fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body + HTML */
html, body {
  height: 100%;
  background-color: #000;
}

/* Không cho chọn chữ */
body, h1 {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
}

/* Căn giữa nội dung và cách dòng */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

/* H1: font Impact, màu cam, responsive size */
h1 {
  font-family: 'ImpactLocal', sans-serif;
  color: #ff3c00;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  font-size: clamp(32px, 14vw, 220px);
}
