body { 
    margin: 0; 
    overflow: hidden; 
    background: transparent; 
}
.moving-domain {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  color: #ffcc00;
  white-space: nowrap;
  pointer-events: none;

  margin: 0;       
  padding: 0;
  line-height: 1;  
}
