@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Be Vietnam Pro",Helvetica, sans-serif; 
}

/* Khung 5:1 */
.frame {
  width: 95vw;
  aspect-ratio: 5 / 2;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* Header */
.title {
  text-align: center;
  -webkit-text-stroke: 2px #fff;
  color: #ff3b3b;
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* Marquee container */
.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40%;
}

/* Track cháº¡y */
.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

/* Item */
.marquee-track li {
  list-style: none;
  padding: 0 2rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  white-space: nowrap;
}

/* Animation */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
